
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/study-abroad/css/bootstrap.min.css" />
    <link href="~/study-abroad/css/Toggleswitch.css" rel="stylesheet" />
    <link href="~/app-assets/css/bootstrap-extended.css" rel="stylesheet" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css" href="~/study-abroad/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/study-abroad/css/owl.theme.green.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Owl Carousel jQuery and JS -->
    <script src="~/study-abroad/js/jquery.min.js"></script>
    <script src="~/study-abroad/js/owl.carousel.min.js"></script>

    <!----Custom CSS AboutUS---->
    @*<link rel="stylesheet" href="~/study-abroad/css/about.css">*@
    <!-- owl -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jquery cdn -->
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@
    <!-- owl cdn -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous"
              referrerpolicy="no-referrer" />*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <!-- fontawesome -->
    @*<script src="https://kit.fontawesome.com/aa6e3c133e.js" crossorigin="anonymous"></script>*@

    <!-- fontawsome -->
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
    <title>@ViewBag.Title</title>



    <!-----Contact Us-->
    @*<link rel="stylesheet" href="~/study-abroad/css/contact.css">*@
    <link rel="stylesheet" href="~/study-abroad/css/nav.css">
    <link rel="stylesheet" href="~/study-abroad/css/footer.css">
    @*<title>Contact US</title>*@

    <!---Our Services-->
    <!-- Owl Carousel -->
    @*<link rel="stylesheet" type="text/css" href="~/study-abroad/css/owl.theme.green.css" />*@

    <!-- Custom CSS -->
    @*<link rel="stylesheet" type="text/css" href="~/study-abroad/css/our-services.css" />*@


    <!---All Programs---->
    <!-- ===== Custom CSS ===== -->
    @*<link rel="stylesheet" type="text/css" href="~/study-abroad/css/total-programs.css">*@

    @*<title>Cheshire</title>*@
    @*<link rel="stylesheet" href="~/study-abroad/css/Cheshire.css">*@

    @*<title>Search</title>*@
    @*<link rel="stylesheet" href="~/study-abroad/css/search.css">*@
    <!-- login -->
    @*<link rel="stylesheet" href="~/study-abroad/css/login.css">*@

    @RenderSection("CSS", required: false)

</head>


<body>


    <!-- ===== Navbar Start ===== -->
    <div class="container">
        <nav class="navbar navbar-expand-lg fixed-top navbar-light main-navbar">
            <div class="container nav">
                <a class="navbar-brand" href="~/Home/Index"><img src="~/study-abroad/img/my-logo.png" alt="my-logo" width="120px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navbar-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Aboutus">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/OurServices">Our Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Search">Foreign Universities</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" href="#">IELTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Stories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ's</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/ContactUs">Contact Us</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a href="~/Home/Login" class="btn nav-login-btn" type="submit">LOGIN</></a>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <!-- ===== Navbar End ===== -->
    @RenderBody();
    <!-- Footer Start -->
    <div class="footer" style="margin-top: 8%;">
        <div class="container">
            <div class="row">
                <div class=" col-lg-4 col-md-4">
                    <div class="footer-about">
                        <img src="~/study-abroad/img/logo@2x.png" width="50%">
                        <p>
                            KHM is a global leader in international education services. We help international students such as yourself to study in English speaking countries.
                        </p>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-8 col-md-8">
                    <div class="row">
                        <div class=" col-lg-4 col-md-4">
                            <div class="footer-link">
                                <!-- <h3>Service Area</h3> -->
                                <a href="index.html">Home</a>
                                <a href="about.html">About Us </a>
                                <a href="our-services.html">Our Services</a>
                                <a href="">Foreign Universities</a>
                                <a href="">IELTS</a>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-4">
                            <div class="footer-link">
                                <!-- <h3>Useful Link</h3> -->
                                <a href="">FAQ's</a>
                                <a href="contact.html">Contact Us</a>
                                <a href="">Stories</a>
                                <a href="">Countries</a>
                                <a href="">Blog</a>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-4" style="font-weight: 500;">
                            <div class="footer-link">
                                <a href="">Student Visa Requirements</a>
                                <a href="">Top Universities</a>
                                <a href="">Top Courses</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright mt-5">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Copyright © 2021 | KHM Consultancy</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <script src="~/study-abroad/js/about.js"></script>
    <script src="~/study-abroad/js/bootstrap.bundle.min.js "></script>
    @*<script src="~/study-abroad/js/bootstrap.bundle.min.js"></script>*@

    <!-- owl -->
    @*<script src="~/study-abroad/jquery.min.js"></script>
    <script src="~/study-abroad/js/owl.carousel.min.js"></script>*@
    <!-- Option 1: Bootstrap Bundle with Popper -->
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>*@


    <script>
    $(document).ready(function () {
        var featured_Uni = document.getElementById("featured-universities");
        if (featured_Uni)
            $(featured_Uni).load('@Url.Content("/Home/FeaturedUniversities")');

        $(function () {
            var Accordion = function (el, multiple) {
                this.el = el || {};
                this.multiple = multiple || false;

                // Variables privadas
                var links = this.el.find('.link');
                // Evento
                links.on('click', {
                    el: this.el,
                    multiple: this.multiple
                }, this.dropdown)
            }

            Accordion.prototype.dropdown = function (e) {
                var $el = e.data.el;
                $this = $(this),
                    $next = $this.next();

                $next.slideToggle();
                $this.parent().toggleClass('open');

                if (!e.data.multiple) {
                    $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
                };
            }

            var accordion = new Accordion($('#accordion'), false);
        });
    });

    </script>
    @RenderSection("Script",required:false)
</body>

</html>
 

