@model IEnumerable<Study_Abroad.Models.Course>

@{ ViewData["Title"] = "Index";
    Layout = "_Layout1"; }

<!-- BEGIN: Content-->

@section Css{
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">

        <div class="content-body">

            <!-- Zero configuration table -->
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body card-dashboard">

                                <div class="table-responsive">
                                    <table class="table zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Course Name</th>
                                                <th>Level</th>
                                                <th>Disipline</th>
                                                <th>intake</th>
                                                <th>Tution Fee</th>
                                                <th>Location</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.CourseName</td>
                                                    <td>@item.Program_Id</td>
                                                    <td>@item.Disiplines.DisiplineName</td>
                                                    <td>@item.CourseIntake</td>
                                                    <td>@item.CourseTutionFee</td>
                                                    <td>@item.States.StateName</td>
                                                    <td>
                                                        <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                                                        <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                                                        <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                                                    </td>
                                                </tr>
}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Zero configuration table -->

        </div>
    </div>
</div>

@section Js{
    <script src="~/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>

    <script src="~/app-assets/js/scripts/datatables/datatable.js"></script>
}
<!-- END: Content-->
@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Disiplines)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Campuses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.States)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Program_Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseIntake)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseMode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTutionFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseScholarship)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseApplicationDeadline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseOverview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseLearningOutcome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseStartDateAndPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseHowToApply)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseReviewAndRanking)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Disiplines.DisiplineId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campuses.CampusId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.States.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseIntake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseMode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTutionFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseScholarship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseApplicationDeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseOverview)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseLearningOutcome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseStartDateAndPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseHowToApply)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseReviewAndRanking)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
