@model Study_Abroad.Models.StudentProfile

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StudentProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.F_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.M_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.M_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.L_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.L_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country.CountryName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city.CityName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Current_Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Current_Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postal_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postal_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.First_Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.First_Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marital_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marital_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_Num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_Num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_Expiry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_Expiry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passport_Pic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passport_Pic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country_of_Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country_of_Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education_Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education_Level)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grading_Scheme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grading_Scheme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade_Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade_Scale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grading_Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grading_Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graduated_From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graduated_From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid_Visa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValid_Visa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStudy_Permit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStudy_Permit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referral_Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referral_Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country_Of_Intrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country_Of_Intrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service_Of_Intrest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service_Of_Intrest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
