@model IEnumerable<Study_Abroad.Models.Country>
@using Study_Abroad.Data;
@inject StudyAbroadContext _db;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutStudyAbroad";
    var countries = _db.Countries.Where(a => a.Status).ToList();
    var courses =  _db.Courses.Where(a=>a.Status).ToList();

}
@section CSS{ 
    <style>
        datalist {
            position: absolute;
            background-color: white;
            border: 1px solid #86b7fe;
            border-radius: 0 0 5px 5px;
            border-top: none;
            font-family: sans-serif;
            /*width: 350px;*/
            top: 80px;
            padding: 5px;
            max-height: 10rem;
            overflow-y: auto;
            z-index: 5;
            border-color: #86b7fe;
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
        }

        option {
            background-color: white;
            padding: 4px;
            /*color: blue;*/
            margin-bottom: 1px;
            font-size: 18px;
            cursor: pointer;
        }
    </style>
}
<!-- Start your Journey to Study Abroad START -->
<div class="container-fluid journey-sec mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-top: 10%;">
                <h1>Start your Journey <br> to Study Abroad</h1>
                <p class="mt-4">
                    Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur justo imperdiet. Etiam a ex at ante tincidunt imperdiet. Nunc congue ex vel nisl viverra, sit amet aliquet lectus
                    ullamcorper. Praesent luctus lacus non lorem
                </p>
                <div class="input-group mt-4">

                    <input type="text" autocomplete="off" role="combobox" list="" id="courseId" name="courseId" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Search for college or university">
                    <datalist id="course-list" role="listbox">
                        @foreach (var item in courses)
                            {
                        <option value="@item.CourseName" data-courseId="@item.CourseId">@item.CourseName</option>
                            }
                    </datalist>
                    <!-- <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        USA
        </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul> -->
                    <select name="Country_ID" id="countryId" class="btn dropdown-toggle dropdown-toggle-split" style="border-left: 1px solid #202e61;appearance: none;">
                        <option value="0">All</option>
                        @foreach (var item in countries)
                        {
                        <option value="@item.CountryId">&nbsp;@item.CountryName  &nbsp;</option>
                        }

                    </select>
                    <span style="margin-left: 0px;display: flex;align-items: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="10.799" height="6.126" viewBox="0 0 10.799 6.126">
                            <path id="Icon_awesome-caret-down" data-name="Icon awesome-caret-down" d="M1.521,13.5h9.346a.725.725,0,0,1,.512,1.239L6.708,19.413a.728.728,0,0,1-1.028,0L1.009,14.739A.725.725,0,0,1,1.521,13.5Z" transform="translate(-0.794 -13.5)" fill="#202e61" />
                        </svg>
                    </span>
                    <button type="button" class="btn search-btn" onclick="onSearch()"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/study-abroad/img/Group 3448@2x.png" width="100%">
            </div>
        </div>
    </div>
</div>
<!-- Start your Journey to Study Abroad END -->
<!-- Featured Universities START -->
<div class="container-fluid featured-sec mt-5">
    <div class="container" id="featured-universities">

    </div>
</div>
<!-- Featured Universities END -->
<!-- From Career Counselling START -->
<div class="container-fluid career-sec" style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/study-abroad/img/Group 3449@2x.png" width="100%">
            </div>
            <div class="col-md-6 mt-5">
                <img src="~/study-abroad/img/Group 1482@2x.png" class="top-heading-img">
                <br>
                <br>
                <h1>
                    From Career Counselling
                    <br>
                    <span>To University Admissions</span>
                </h1>
                <p class="mt-4">
                    Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur justo imperdiet. Etiam a ex at ante tincidunt imperdiet. Nunc congue ex vel nisl viverra, sit amet aliquet lectus
                    ullamcorper. Praesent
                    <span id="text" style="display: none;">
                        CSS is designed primarily to enable the separation of document content from document presentation, including aspects such as the layout, colors, and fonts. This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple HTML pages to share formatting by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.
                        <!-- <a href="#">Read more....</a> -->
                        @*<div class="btn-container">
                            <button id="toggle">Read More</button>
                        </div>*@
                    </span>
                </p>
                <button type="button" class="btn btn-outline-primary mt-4">GET STARTED</button>
            </div>
        </div>
    </div>
</div>
<!-- From Career Counselling END -->
<!-- From Visa Consultancy START -->
<div class="container-fluid career-sec" style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <img src="~/study-abroad/img/Group 3450@2x.png" class="top-heading-img">
                <br>
                <br>
                <h1>
                    From Visa Consultancy
                    <br>
                    <span>To Accomodation</span>
                </h1>
                <p class="mt-4">
                    Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur justo imperdiet. Etiam a ex at ante tincidunt imperdiet. Nunc congue ex vel nisl viverra, sit amet aliquet
                    lectus ullamcorper. Praesent
                    <span id="text1" style="display: none;">
                        CSS is designed primarily to enable the separation of document content from document presentation, including aspects such as the layout, colors, and fonts. This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple HTML pages to share formatting by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.
                        <!-- <a href="#">Read more....</a> -->
                        @*<div class="btn-container">
                            <button id="toggle1">Read More</button>
                        </div>*@
                    </span>
                </p>
                <a href="~/Home/AssessementForm" type="button" class="btn btn-outline-primary mt-4">APPLY NOW</a>
            </div>
            <div class="col-md-6">
                <img src="~/study-abroad/img/kinza.png" width="100%">
            </div>
        </div>
    </div>
</div>
<!-- From Visa Consultancy END -->
<!-- Pre Departure Briefing START -->
<div class="container-fluid career-sec" style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/study-abroad/img/Group 3451@2x.png" width="100%">
            </div>
            <div class="col-md-6 mt-5">
                <img src="~/study-abroad/img/Group 3452@2x.png" class="top-heading-img">
                <br>
                <br>
                <h1>
                    Pre Departure Briefing
                    <br>
                    <span>To On Sight Support</span>
                </h1>
                <p class="mt-4">
                    Vestibulum commodo sapien non elit porttitor, vitae volutpat nibh mollis. Nulla porta risus id neque tempor, in efficitur justo imperdiet. Etiam a ex at ante tincidunt imperdiet. Nunc congue ex vel nisl viverra, sit amet aliquet
                    lectus ullamcorper. Praesent
                    <span id="text2" style="display: none;">
                        CSS is designed primarily to enable the separation of document content from document presentation, including aspects such as the layout, colors, and fonts. This separation can improve content accessibility, provide more flexibility and control in the specification of presentation characteristics, enable multiple HTML pages to share formatting by specifying the relevant CSS in a separate .css file, and reduce complexity and repetition in the structural content.
                        <!-- <a href="#">Read more....</a> -->
                        @*<div class="btn-container">
                            <button id="toggle2">Read More</button>
                        </div>*@
                    </span>
                </p>
                <a href="~/Home/AssessementForm" class="btn btn-outline-primary mt-4">Apply Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Pre Departure Briefing END -->
<!-- Tied Up Universities START -->
<div class="container-fluid universities-sec" style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mt-5">
                <h1>
                    Tied Up Universities
                    <br>
                    <span>across various countries</span>
                </h1>
            </div>
            <div class="col-md-2 mt-5">
                <span>
                    <button type="button" class="customNextBtn btn btn-primary" style="border-radius: 100%;background-color: #EFEEEE;border: none; color: #202E61;padding: 10px 18px;">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button type="button" class="customPrevBtn btn btn-primary" style="border-radius: 100%;background-color: #202E61;border: none;padding: 10px 18px;">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="owl-two owl-carousel owl-theme mt-5">
            @foreach (var item in countries)
            {
                <div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0" style="cursor:pointer" onclick="onSearchByCountryId(@item.CountryId)">
                            <div class="col-md-4 col-4">
                                <img src="@(string.IsNullOrEmpty(item.CountryImage)?"/study-abroad/img/Mask Group 12@2x.png":"/Uploads/"+item.CountryImage)" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>@item.CountryName</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @*<div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <img src="~/study-abroad/img/Mask Group 12-2@2x.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>United Kingdom</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <img src="~/study-abroad/img/Mask Group 12-1@2x.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>Austrailia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <img src="~/study-abroad/img/Mask Group 12@2x.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>Austrailia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <img src="~/study-abroad/img/Mask Group 12-2@2x.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>United Kingdom</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <img src="~/study-abroad/img/Mask Group 12-1@2x.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>Austrailia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <img src="~/study-abroad/img/Mask Group 12@2x.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>Austrailia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <img src="~/study-abroad/img/Mask Group 12-2@2x.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>United Kingdom</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4 col-4">
                                <img src="~/study-abroad/img/Mask Group 12-1@2x.png" class="img-fluid rounded-start">
                            </div>
                            <div class="col-md-8 col-8">
                                <div class="card-body">
                                    <p>Study in</p>
                                    <h5>Austrailia</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>
<!-- Tied Up Universities END -->
<!-- Testimonials START -->
<div class="container-fluid testimonial-sec" style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <h1>Testimonials</h1>
        </div>
        <div class="owl-three owl-carousel owl-theme mt-5">
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33-2@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Kathryn Hart</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star51" name="rating" value="5" /><label class="full" for="star51" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star41" name="rating" value="4" /><label class="full" for="star41" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star31" name="rating" value="3" /><label class="full" for="star31" title="Meh - 3 stars"></label>
                            <input type="radio" id="star21" name="rating" value="2" /><label class="full" for="star21" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star11" name="rating" value="1" /><label class="full" for="star11" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Johnny Valdez</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33-1@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star52" name="rating" value="5" /><label class="full" for="star52" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star42" name="rating" value="4" /><label class="full" for="star42" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star32" name="rating" value="3" /><label class="full" for="star32" title="Meh - 3 stars"></label>
                            <input type="radio" id="star22" name="rating" value="2" /><label class="full" for="star22" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star12" name="rating" value="1" /><label class="full" for="star12" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Marie Barrett</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33-2@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star53" name="rating" value="5" /><label class="full" for="star53" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star43" name="rating" value="4" /><label class="full" for="star43" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star33" name="rating" value="3" /><label class="full" for="star33" title="Meh - 3 stars"></label>
                            <input type="radio" id="star23" name="rating" value="2" /><label class="full" for="star23" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star13" name="rating" value="1" /><label class="full" for="star13" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Kathryn Hart</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star54" name="rating" value="5" /><label class="full" for="star54" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star44" name="rating" value="4" /><label class="full" for="star44" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star34" name="rating" value="3" /><label class="full" for="star34" title="Meh - 3 stars"></label>
                            <input type="radio" id="star24" name="rating" value="2" /><label class="full" for="star24" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star14" name="rating" value="1" /><label class="full" for="star14" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Johnny Valdez</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33-1@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star55" name="rating" value="5" /><label class="full" for="star55" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star45" name="rating" value="4" /><label class="full" for="star45" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star35" name="rating" value="3" /><label class="full" for="star35" title="Meh - 3 stars"></label>
                            <input type="radio" id="star25" name="rating" value="2" /><label class="full" for="star25" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star15" name="rating" value="1" /><label class="full" for="star15" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Marie Barrett</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33-2@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star56" name="rating" value="5" /><label class="full" for="star56" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star46" name="rating" value="4" /><label class="full" for="star46" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star36" name="rating" value="3" /><label class="full" for="star36" title="Meh - 3 stars"></label>
                            <input type="radio" id="star26" name="rating" value="2" /><label class="full" for="star26" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star16" name="rating" value="1" /><label class="full" for="star16" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Kathryn Hart</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star57" name="rating" value="5" /><label class="full" for="star57" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star47" name="rating" value="4" /><label class="full" for="star47" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star37" name="rating" value="3" /><label class="full" for="star37" title="Meh - 3 stars"></label>
                            <input type="radio" id="star27" name="rating" value="2" /><label class="full" for="star27" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star17" name="rating" value="1" /><label class="full" for="star17" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Johnny Valdez</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card" style="width: 100%;">
                    <center>
                        <img src="~/study-abroad/img/Ellipse 33-1@2x.png" class="card-img-top">
                    </center>
                    <div class="card-body text-center">
                        <fieldset class="rating">
                            <input type="radio" id="star58" name="rating" value="5" /><label class="full" for="star58" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star48" name="rating" value="4" /><label class="full" for="star48" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star38" name="rating" value="3" /><label class="full" for="star38" title="Meh - 3 stars"></label>
                            <input type="radio" id="star28" name="rating" value="2" /><label class="full" for="star28" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star18" name="rating" value="1" /><label class="full" for="star18" title="Sucks big time - 1 star"></label>
                        </fieldset>
                        <h5 class="card-title">Marie Barrett</h5>
                        <p class="card-text">Mauris neque nisi, faucibus non elementum in, convallis et eros. Sed pretium sem libero, vel pellentesque purus ultrices ut. In quis leo id</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonials END -->
<!-- Are You Ready To Fly START -->
<div class="conatiner-fluid " style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="readyfly-sec">
                    <h1>Are You Ready To Fly</h1>
                    <h2>& Persue your <span> Dreams</span></h2>
                    <button type="button" class="btn btn-primary mt-4">APPLY ONLINE</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="~/study-abroad/js/sessionstorage.js"></script>
    <script>
        let session = new Session();
        let filter = {
            course: "",
            university: "",
            countryId: 0
        }

        let courseInput = document.getElementById('courseId');
        let courses = document.getElementById('course-list');

        for (let option of courses.options) {
            option.onclick = function () {
                filter.course = courseInput.value = option.value;
                // filter.courseId = option.getAttribute('data-courseId');
                session.set('filter', filter);
                //console.log(filter)
                courses.style.display = 'none';
                courseInput.style.borderRadius = "5px";
            };
        };
        courseInput.onfocus = function () {
            courses.style.display = 'block';
            courses.style.maxWidth = courseInput.offsetWidth + "px";
            courseInput.style.borderRadius = "5px 5px 0 0";
        };

        courseInput.oninput = function () {
            currentCourseFocus = -1;
            var text = courseInput.value.toUpperCase();
            for (let option of courses.options) {
                if (option.value.toUpperCase().indexOf(text) > -1) {
                    option.style.display = "block";
                } else {
                    option.style.display = "none";
                }
            };
        }

        var currentCourseFocus = -1;
        courseInput.onkeydown = function (e) {
            if (e.keyCode == 40) {
                currentCourseFocus++
                addActiveCourse(courses.options);
            }
            else if (e.keyCode == 38) {
                currentCourseFocus--
                addActiveCourse(courses.options);
            }
            else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentCourseFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (courses.options) courses.options[currentCourseFocus].click();
                }
            }
        }

        function addActiveCourse(x) {
            if (!x) return false;
            removeActive(x);
            if (currentCourseFocus >= x.length) currentCourseFocus = 0;
            if (currentCourseFocus < 0) currentCourseFocus = (x.length - 1);
            x[currentCourseFocus].classList.add("active");
        }


        
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("active");
            }
        }

        document.addEventListener('click', function (event) {
            if (courseInput !== event.target && !courseInput.contains(event.target) ) {
                //console.log('clicking outside the div');
                if (courses.style.display == 'block')
                    courses.style.display = 'none';
            }
        });


        function onSearch() {
            var url = "/Home/Search";
            filter.countryId = document.getElementById("countryId").value;
            if (courseInput.value)
                url = url + "?course=" + courseInput.value;
            if (filter.countryId)
                url = url + (!url.includes("/Home/Search?") ? "?" : "&") + "countryId=" + filter.countryId;


            filter.course = courseInput.value;
            session.set('filter', filter);
            window.location.href = url;
            //console.log(url)
        }
        function onSearchByCountryId(id) {
            filter.countryId = id;
            var url = "/Home/Search";
                url = url + "?countryId=" + filter.countryId;
            filter.course = courseInput.value;
            session.set('filter', filter);
            window.location.href = url;
            //console.log(url)
        }

    </script>
}
<script>

</script>
<!-- Are You Ready To Fly END -->
<!------Study Abroad Admin-->
<!--<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">-->
<!-- Dashboard Analytics Start -->
<!--<section id="dashboard-analytics">
    <div class="row">-->
<!-- Website Analytics Starts-->
<!--<div class="col-md-6 col-sm-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title">Website Analytics</h4>
            <i class="bx bx-dots-vertical-rounded font-medium-3 cursor-pointer"></i>
        </div>
        <div class="card-body pb-1">
            <div class="d-flex justify-content-around align-items-center flex-wrap">
                <div class="user-analytics mr-2">
                    <i class="bx bx-user mr-25 align-middle"></i>
                    <span class="align-middle text-muted">Users</span>
                    <div class="d-flex">
                        <div id="radial-success-chart"></div>
                        <h3 class="mt-1 ml-50">61K</h3>
                    </div>
                </div>
                <div class="sessions-analytics mr-2">
                    <i class="bx bx-trending-up align-middle mr-25"></i>
                    <span class="align-middle text-muted">Sessions</span>
                    <div class="d-flex">
                        <div id="radial-warning-chart"></div>
                        <h3 class="mt-1 ml-50">92K</h3>
                    </div>
                </div>
                <div class="bounce-rate-analytics">
                    <i class="bx bx-pie-chart-alt align-middle mr-25"></i>
                    <span class="align-middle text-muted">Bounce Rate</span>
                    <div class="d-flex">
                        <div id="radial-danger-chart"></div>
                        <h3 class="mt-1 ml-50">72.6%</h3>
                    </div>
                </div>
            </div>
            <div id="analytics-bar-chart" class="my-75"></div>
        </div>
    </div>

</div>
<div class="col-xl-3 col-md-6 col-sm-12 dashboard-referral-impression">
    <div class="row">-->
<!-- Referral Chart Starts-->
<!--<div class="col-xl-12 col-12">
    <div class="card">
        <div class="card-body text-center pb-0">
            <h2>$32,690</h2>
            <span class="text-muted">Referral 40%</span>
            <div id="success-line-chart"></div>
        </div>
    </div>
</div>-->
<!-- Impression Radial Chart Starts-->
<!--<div class="col-xl-12 col-12">
            <div class="card">
                <div class="card-body donut-chart-wrapper">
                    <div id="donut-chart" class="d-flex justify-content-center"></div>
                    <ul class="list-inline d-flex justify-content-around mb-0">
                        <li> <span class="bullet bullet-xs bullet-primary mr-50"></span>Social</li>
                        <li> <span class="bullet bullet-xs bullet-info mr-50"></span>Email</li>
                        <li> <span class="bullet bullet-xs bullet-warning mr-50"></span>Search</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-md-12 col-sm-12">
    <div class="row">-->
<!-- Conversion Chart Starts-->
<!--<div class="col-xl-12 col-md-6 col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between pb-xl-0 pt-xl-1">
                        <div class="conversion-title">
                            <h4 class="card-title">Conversion</h4>
                            <p>
                                60%
                                <i class="bx bx-trending-up text-success font-size-small align-middle mr-25"></i>
                            </p>
                        </div>
                        <div class="conversion-rate">
                            <h2>89k</h2>
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <div id="bar-negative-chart" class="negative-bar-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="avatar bg-rgba-primary m-0 p-25 mr-75 mr-xl-2">
                                        <div class="avatar-content">
                                            <i class="bx bx-user text-primary font-medium-2"></i>
                                        </div>
                                    </div>
                                    <div class="total-amount">
                                        <h5 class="mb-0">$38,566</h5>
                                        <small class="text-muted">Conversion</small>
                                    </div>
                                </div>
                                <div id="primary-line-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="avatar bg-rgba-warning m-0 p-25 mr-75 mr-xl-2">
                                        <div class="avatar-content">
                                            <i class="bx bx-dollar text-warning font-medium-2"></i>
                                        </div>
                                    </div>
                                    <div class="total-amount">
                                        <h5 class="mb-0">$53,659</h5>
                                        <small class="text-muted">Income</small>
                                    </div>
                                </div>
                                <div id="warning-line-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">-->
<!-- Activity Card Starts-->
<!--<div class="col-xl-3 col-md-6 col-12 activity-card">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Activity</h4>
        </div>
        <div class="card-body pt-1">
            <div class="d-flex activity-content">
                <div class="avatar bg-rgba-primary m-0 mr-75">
                    <div class="avatar-content">
                        <i class="bx bx-bar-chart-alt-2 text-primary"></i>
                    </div>
                </div>
                <div class="activity-progress flex-grow-1">
                    <small class="text-muted d-inline-block mb-50">Total Sales</small>
                    <small class="float-right">$8,125</small>
                    <div class="progress progress-bar-primary progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" style="width:50%"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex activity-content">
                <div class="avatar bg-rgba-success m-0 mr-75">
                    <div class="avatar-content">
                        <i class="bx bx-dollar text-success"></i>
                    </div>
                </div>
                <div class="activity-progress flex-grow-1">
                    <small class="text-muted d-inline-block mb-50">Income Amount</small>
                    <small class="float-right">$18,963</small>
                    <div class="progress progress-bar-success progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" style="width:80%"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex activity-content">
                <div class="avatar bg-rgba-warning m-0 mr-75">
                    <div class="avatar-content">
                        <i class="bx bx-stats text-warning"></i>
                    </div>
                </div>
                <div class="activity-progress flex-grow-1">
                    <small class="text-muted d-inline-block mb-50">Total Budget</small>
                    <small class="float-right">$14,150</small>
                    <div class="progress progress-bar-warning progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" style="width:60%"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex mb-75">
                <div class="avatar bg-rgba-danger m-0 mr-75">
                    <div class="avatar-content">
                        <i class="bx bx-check text-danger"></i>
                    </div>
                </div>
                <div class="activity-progress flex-grow-1">
                    <small class="text-muted d-inline-block mb-50">Completed Tasks</small>
                    <small class="float-right">106</small>
                    <div class="progress progress-bar-danger progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" style="width:30%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Profit Report Card Starts-->
<!--<div class="col-xl-3 col-md-6 col-12 profit-report-card">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Profit Report</h4>
                    <i class="bx bx-dots-vertical-rounded font-medium-3 cursor-pointer"></i>
                </div>
                <div class="card-body d-flex justify-content-around">
                    <div class="d-inline-flex mr-xl-2">
                        <div id="profit-primary-chart"></div>
                        <div class="profit-content ml-50 mt-50">
                            <h5 class="mb-0">$12k</h5>
                            <small class="text-muted">2020</small>
                        </div>
                    </div>
                    <div class="d-inline-flex">
                        <div id="profit-info-chart"></div>
                        <div class="profit-content ml-50 mt-50">
                            <h5 class="mb-0">$64k</h5>
                            <small class="text-muted">2019</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Registrations</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-end justify-content-around">
                        <div class="registration-content mr-xl-1">
                            <h4 class="mb-0">56.3k</h4>
                            <i class="bx bx-trending-up success align-middle"></i>
                            <span class="text-success">12.8%</span>
                        </div>
                        <div id="registration-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Sales Chart Starts-->
<!--<div class="col-xl-3 col-md-6 col-12 sales-card">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="card-title-content">
                <h4 class="card-title">Sales</h4>
                <small class="text-muted">Calculated in last 7 days</small>
            </div>
            <i class="bx bx-dots-vertical-rounded font-medium-3 cursor-pointer"></i>
        </div>
        <div class="card-body">
            <div id="sales-chart" class="mb-2"></div>
            <div class="d-flex justify-content-between my-1">
                <div class="sales-info d-flex align-items-center">
                    <i class='bx bx-up-arrow-circle text-primary font-medium-5 mr-50'></i>
                    <div class="sales-info-content">
                        <h6 class="mb-0">Best Selling</h6>
                        <small class="text-muted">Sunday</small>
                    </div>
                </div>
                <h6 class="mb-0">28.6k</h6>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <div class="sales-info d-flex align-items-center">
                    <i class='bx bx-down-arrow-circle icon-light font-medium-5 mr-50'></i>
                    <div class="sales-info-content">
                        <h6 class="mb-0">Lowest Selling</h6>
                        <small class="text-muted">Thursday</small>
                    </div>
                </div>
                <h6 class="mb-0">986k</h6>
            </div>
        </div>
    </div>
</div>-->
<!-- Growth Chart Starts-->
<!--<div class="col-xl-3 col-md-6 col-12 growth-card">
        <div class="card">
            <div class="card-body text-center">
                <div class="dropdown">
                    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButtonSec" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        2020
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonSec">
                        <a class="dropdown-item" href="javascript:void(0);">2020</a>
                        <a class="dropdown-item" href="javascript:void(0);">2019</a>
                        <a class="dropdown-item" href="javascript:void(0);">2018</a>
                    </div>
                </div>
                <div id="growth-Chart"></div>
                <h6 class="mt-2"> 62% Growth in 2020</h6>
            </div>
        </div>
    </div>
</div>
<div class="row">-->
<!-- Task Card Starts -->
<!--<div class="col-lg-7">
    <div class="row">
        <div class="col-12">
            <div class="card widget-todo">
                <div class="card-header border-bottom d-flex justify-content-between align-items-center flex-wrap">
                    <h4 class="card-title d-flex mb-25 mb-sm-0">
                        <i class='bx bx-check font-medium-5 pl-25 pr-75'></i>Tasks
                    </h4>
                    <ul class="list-inline d-flex mb-25 mb-sm-0">
                        <li class="d-flex align-items-center">
                            <i class='bx bx-filter font-medium-3 mr-50'></i>
                            <div class="dropdown">
                                <div class="dropdown-toggle mr-1 cursor-pointer" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="javascript:void(0);">My Tasks</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Due this week</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Due next week</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Custom Filter</a>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class='bx bx-sort mr-50 font-medium-3'></i>
                            <div class="dropdown">
                                <div class="dropdown-toggle cursor-pointer" role="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                                    <a class="dropdown-item" href="javascript:void(0);">None</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Alphabetical</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Due Date</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Assignee</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-body px-0 py-1">
                    <ul class="widget-todo-list-wrapper" id="widget-todo-list">
                        <li class="widget-todo-item">
                            <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                                <div class="widget-todo-title-area d-flex align-items-center">
                                    <i class='bx bx-grid-vertical mr-25 font-medium-4 cursor-move'></i>
                                    <div class="checkbox checkbox-shadow">
                                        <input type="checkbox" class="checkbox__input" id="checkbox1">
                                        <label for="checkbox1"></label>
                                    </div>
                                    <span class="widget-todo-title ml-50">Add SCSS and JS files if required</span>
                                </div>
                                <div class="widget-todo-item-action d-flex align-items-center">
                                    <div class="badge badge-pill badge-light-success mr-1">frontend</div>
                                    <div class="avatar bg-rgba-primary m-0 mr-50">
                                        <div class="avatar-content">
                                            <span class="font-size-base text-primary">RA</span>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer icon-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu"></span>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);">View Details</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Duplicate Task</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete Task</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget-todo-item">
                            <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                                <div class="widget-todo-title-area d-flex align-items-center">
                                    <i class='bx bx-grid-vertical mr-25 font-medium-4 cursor-move'></i>
                                    <div class="checkbox checkbox-shadow">
                                        <input type="checkbox" class="checkbox__input" id="checkbox2">
                                        <label for="checkbox2"></label>
                                    </div>
                                    <span class="widget-todo-title ml-50">Check your changes, before commiting</span>
                                </div>
                                <div class="widget-todo-item-action d-flex align-items-center">
                                    <div class="badge badge-pill badge-light-danger mr-1">backend</div>
                                    <div class="avatar m-0 mr-50">
                                        <img src="../../../app-assets/images/profile/user-uploads/social-2.jpg" alt="img placeholder" height="32" width="32">
                                    </div>
                                    <div class="dropdown">
                                        <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer icon-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu"></span>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);">View Details</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Duplicate Task</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete Task</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget-todo-item completed">
                            <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                                <div class="widget-todo-title-area d-flex align-items-center">
                                    <i class='bx bx-grid-vertical mr-25 font-medium-4 cursor-move'></i>
                                    <div class="checkbox checkbox-shadow">
                                        <input type="checkbox" class="checkbox__input" id="checkbox3" checked>
                                        <label for="checkbox3"></label>
                                    </div>
                                    <span class="widget-todo-title ml-50">Dribble, Behance, UpLabs & Pinterest Post</span>
                                </div>
                                <div class="widget-todo-item-action d-flex align-items-center">
                                    <div class="badge badge-pill badge-light-primary mr-1">UI/UX</div>
                                    <div class="avatar bg-rgba-primary m-0 mr-50">
                                        <div class="avatar-content">
                                            <span class="font-size-base text-primary">JP</span>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer icon-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu"></span>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);">View Details</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Duplicate Task</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete Task</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget-todo-item">
                            <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                                <div class="widget-todo-title-area d-flex align-items-center">
                                    <i class='bx bx-grid-vertical mr-25 font-medium-4 cursor-move'></i>
                                    <div class="checkbox checkbox-shadow">
                                        <input type="checkbox" class="checkbox__input" id="checkbox4">
                                        <label for="checkbox4"></label>
                                    </div>
                                    <span class="widget-todo-title ml-50">Fresh Design Web & Responsive Miracle</span>
                                </div>
                                <div class="widget-todo-item-action d-flex align-items-center">
                                    <div class="badge badge-pill badge-light-info mr-1">Design</div>
                                    <div class="avatar m-0 mr-50">
                                        <img src="../../../app-assets/images/profile/user-uploads/user-05.jpg" alt="img placeholder" height="32" width="32">
                                    </div>
                                    <div class="dropdown">
                                        <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer icon-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu"></span>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);">View Details</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Duplicate Task</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete Task</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget-todo-item">
                            <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                                <div class="widget-todo-title-area d-flex align-items-center">
                                    <i class='bx bx-grid-vertical mr-25 font-medium-4 cursor-move'></i>
                                    <div class="checkbox checkbox-shadow">
                                        <input type="checkbox" class="checkbox__input" id="checkbox5">
                                        <label for="checkbox5"></label>
                                    </div>
                                    <span class="widget-todo-title ml-50">
                                        Add Calendar page, source and credit page in
                                        documentation
                                    </span>
                                </div>
                                <div class="widget-todo-item-action d-flex align-items-center">
                                    <div class="badge badge-pill badge-light-warning mr-1">Javascript</div>
                                    <div class="avatar bg-rgba-primary m-0 mr-50">
                                        <div class="avatar-content">
                                            <span class="font-size-base text-primary">AK</span>
                                        </div>
                                    </div>
                                    <div class="dropdown">
                                        <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer icon-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu"></span>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);">View Details</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Duplicate Task</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete Task</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="widget-todo-item">
                            <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                                <div class="widget-todo-title-area d-flex align-items-center">
                                    <i class='bx bx-grid-vertical mr-25 font-medium-4 cursor-move'></i>
                                    <div class="checkbox checkbox-shadow">
                                        <input type="checkbox" class="checkbox__input" id="checkbox6">
                                        <label for="checkbox6"></label>
                                    </div>
                                    <span class="widget-todo-title ml-50">Add Angular Starter-kit</span>
                                </div>
                                <div class="widget-todo-item-action d-flex align-items-center">
                                    <div class="badge badge-pill badge-light-primary mr-1">UI/UX</div>
                                    <div class="avatar m-0 mr-50">
                                        <img src="../../../app-assets/images/profile/user-uploads/user-05.jpg" alt="img placeholder" height="32" width="32">
                                    </div>
                                    <div class="dropdown">
                                        <span class="bx bx-dots-vertical-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer icon-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu"></span>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="javascript:void(0);">View Details</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Duplicate Task</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete Task</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Daily Financials Card Starts -->
<!--<div class="col-lg-5">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title">
                        Order Timeline
                    </h4>
                </div>
                <div class="card-body">
                    <ul class="timeline mb-0">
                        <li class="timeline-item timeline-icon-primary active">
                            <div class="timeline-time">September, 16</div>
                            <h6 class="timeline-title">1983, orders, $4220</h6>
                            <p class="timeline-text">2 hours ago</p>
                            <div class="timeline-content">
                                <img src="../../../app-assets/images/icon/pdf.png" alt="document" height="23" width="19" class="mr-50">New Order.pdf
                            </div>
                        </li>
                        <li class="timeline-item timeline-icon-primary active">
                            <div class="timeline-time">September, 17</div>
                            <h6 class="timeline-title">12 Invoices have been paid</h6>
                            <p class="timeline-text">25 minutes ago</p>
                            <div class="timeline-content">
                                <img src="../../../app-assets/images/icon/pdf.png" alt="document" height="23" width="19" class="mr-50">Invoices.pdf
                            </div>
                        </li>
                        <li class="timeline-item timeline-icon-primary active pb-0">
                            <div class="timeline-time">September, 18</div>
                            <h6 class="timeline-title">Order #37745 from September</h6>
                            <p class="timeline-text">4 minutes ago</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Dashboard Analytics end -->
<!--</div>
    </div>
</div>-->
