@model Study_Abroad.DTO.UniversityDetailDto
@{
    ViewData["Title"] = "Cheshier";
    Layout = "_StudyAbroadLayout2";
}
@section CSS{
    <link rel="stylesheet" href="~/study-abroad/css/Cheshire.css">
}
<div class="container-fluid header-bg">
    <div class="container">
        <div class="row header-bg-row">
            <div class="col-md-12 ">
                <div class="row d-flex align-items-center">
                    <div class="col-md-2 Cheshire-img Cheshire-text">
                        <img src="@(string.IsNullOrEmpty(Model.University.UniversityIcon)?"/study-abroad/img/Group 33046.png":"/Images/"+Model.University.UniversityIcon)" alt="">
                    </div>
                    <div class="col-md-10 Cheshire-text">
                        <h1>@Model.University.UniversityName</h1>
                        <div class="row main-svg">
                            <div class="col-md-2 col-2 svg">
                                @if (!string.IsNullOrEmpty(Model.University.Countries.CountryImage))
                                {
                                    <img src="@("/Images/"+Model.University.Countries.CountryImage)" alt="">
                                }
                                else
                                {
                                    <svg id="Group_2981" data-name="Group 2981" xmlns="http://www.w3.org/2000/svg" width="27.368" height="27.367" viewBox="0 0 27.368 27.367">
                                        <path id="Path_817" data-name="Path 817" d="M2587.369,1719.012a13.68,13.68,0,1,1,9.992,16.566,13.678,13.678,0,0,1-9.992-16.566" transform="translate(-2586.965 -1708.615)" fill="#edeeef"></path>
                                        <path id="Path_818" data-name="Path 818" d="M2618.34,1719.219h-10.6v2.095h11.271a13.678,13.678,0,0,0-.673-2.095m-2.706-4.191h-7.893v2.1h9.517a13.721,13.721,0,0,0-1.624-2.1m-19.829,18.858h19.764a13.614,13.614,0,0,0,1.648-2.095H2594.16a13.734,13.734,0,0,0,1.646,2.095m13.168-22.744c-.411-.1-.822-.182-1.232-.245v2.037h5.379a13.663,13.663,0,0,0-4.147-1.791m10.359,12.266h-11.591v2.1h11.584a13.6,13.6,0,0,0,.007-2.1m-26.27,6.288h25.249a13.769,13.769,0,0,0,.655-1.988c.009-.036.017-.072.025-.108h-26.614a13.72,13.72,0,0,0,.685,2.1m9.337,8.005a13.764,13.764,0,0,0,2.424.376h1.741a13.683,13.683,0,0,0,6.44-2.1h-14.643a13.667,13.667,0,0,0,4.038,1.721" transform="translate(-2592.003 -1710.738)" fill="#e71e1a"></path>
                                        <path id="Path_819" data-name="Path 819" d="M2601.677,1722.769l-.295-.216-.3.216.113-.347-.3-.215h.365l.114-.347.111.347h.366l-.295.215Zm-1.453-11.026.112.349-.295-.215-.3.215.113-.349-.3-.213h.364l.114-.349.113.349h.366Zm0,3.15.112.347-.295-.216-.3.216.113-.347-.3-.215h.364l.114-.347.113.347h.366Zm-.027,3.086.113.347-.3-.216-.3.216.113-.347-.3-.215h.366l.113-.347.113.347h.366Zm.086,3.4-.3-.215-.295.215.112-.347-.3-.215h.366l.113-.347.112.347h.366l-.3.215Zm-1.454-8.107.114.347-.3-.213-.3.213.113-.347-.3-.216h.365l.114-.347.112.347h.365Zm0,3.052.114.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.365Zm0,3.12.114.349-.3-.215-.3.215.113-.349-.3-.213h.365l.114-.349.112.349h.365Zm.114,3.328-.3-.216-.3.216.113-.347-.3-.215h.365l.114-.347.112.347h.365l-.3.215Zm-1.454-11.026.113.349-.3-.215-.3.215.114-.349-.3-.213h.365l.113-.349.113.349h.366Zm0,3.15.113.347-.3-.216-.3.216.114-.347-.3-.215h.365l.113-.347.113.347h.366Zm-.026,3.086.113.347-.3-.216-.295.216.113-.347-.3-.215h.365l.113-.347.113.347h.366Zm.085,3.4-.295-.215-.3.215.113-.347-.3-.215h.365l.114-.347.113.347h.365l-.3.215Zm-1.453-11.157.113.347-.3-.215-.3.215.113-.347-.295-.216h.366l.113-.347.113.347h.366Zm0,3.05.113.347-.3-.213-.3.213.113-.347-.295-.216h.366l.113-.347.113.347h.366Zm0,3.052.113.347-.3-.215-.3.215.113-.347-.295-.215h.366l.113-.347.113.347h.366Zm0,3.12.113.349-.3-.215-.3.215.113-.349-.295-.213h.366l.113-.349.113.349h.366Zm.113,3.328-.3-.216-.3.216.113-.347-.295-.215h.366l.113-.347.113.347h.366l-.3.215Zm-1.454-11.135.114.349-.3-.215-.3.215.114-.349-.3-.214h.365l.113-.347.113.347h.365Zm0,3.15.114.347-.3-.214-.3.214.114-.347-.3-.215h.365l.113-.347.113.347h.365Zm-.028,3.086.114.347-.3-.215-.3.215.114-.347-.3-.216h.365l.114-.347.112.347h.366Zm.086,3.4-.3-.215-.3.215.113-.349-.3-.214h.365l.114-.347.113.347h.366l-.3.214Zm-1.453-8,.114.347-.3-.213-.3.213.114-.347-.295-.216h.364l.114-.347.112.347h.365Zm0,3.052.114.347-.3-.215-.3.215.114-.347-.295-.215h.364l.114-.347.112.347h.365Zm0,3.12.114.349-.3-.215-.3.215.114-.349-.295-.213h.364l.114-.349.112.349h.365Zm.114,3.328-.3-.216-.3.216.114-.347-.295-.215h.364l.114-.347.112.347h.365l-.3.215Zm-1.454-8.016.113.347-.3-.215-.3.215.114-.347-.3-.215h.366l.112-.347.113.347h.366Zm-.027,3.086.113.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.366Zm.085,3.4-.3-.215-.3.215.112-.347-.3-.216h.366l.113-.347.113.347h.365l-.3.216Zm6.457-11.233.114-.347.112.347h.365l-.3.216.114.347-.3-.215-.3.215.113-.347-.3-.216Zm2.735,9.224.114-.349.111.349h.366l-.295.213.112.349-.295-.215-.3.215.113-.349-.3-.213Zm0-3.122.114-.347.111.347h.366l-.295.215.112.347-.295-.215-.3.215.113-.347-.3-.215Zm0-3.052.114-.347.111.347h.366l-.295.216.112.347-.295-.213-.3.213.113-.347-.3-.216Zm0-3.05.114-.347.111.347h.366l-.295.216.112.347-.295-.215-.3.215.113-.347-.3-.216Zm-10.645,6.318.113.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.366Zm0,3.12.113.349-.3-.215-.3.215.113-.349-.3-.213h.365l.114-.349.112.349h.366Zm.113,3.328-.3-.216-.295.216.113-.347-.3-.215h.365l.114-.347.113.347h.366l-.3.215Zm-1.482-4.984.113.347-.3-.215-.295.215.113-.347-.3-.215h.366l.112-.347.114.347h.365Zm.086,3.4-.3-.215-.3.215.114-.347-.3-.215h.365l.113-.347.112.347h.366l-.3.215Zm-1.34,1.586-.3-.216-.3.216.112-.347-.295-.215h.366l.113-.347.114.347h.364l-.294.215Zm14.714-13.841c-.134-.021-1.131-.13-1.266-.146l-2.459.09a13.716,13.716,0,0,0-6.909,2.925l.05.155-.128-.093a13.642,13.642,0,0,0-1.286,1.195h.2l-.3.216.113.347-.3-.213-.118.085q-.414.477-.785.994h.041l-.086.062q-.09.127-.177.256l.08.244-.163-.118a13.677,13.677,0,0,0-1.853,4.24l-.014.061h.227l.113-.349.114.349h.364l-.294.213.112.349-.3-.215-.3.215.112-.349-.176-.127a13.663,13.663,0,0,0-.325,4.241h15.694Z" transform="translate(-2586.976 -1708.771)" fill="#0b2e60"></path>
                                    </svg>
                                    @*<svg id="Group_2981" data-name="Group 2981" xmlns="http://www.w3.org/2000/svg" width="27.368" height="27.367" viewBox="0 0 27.368 27.367">
                                            <path id="Path_817" data-name="Path 817" d="M2587.369,1719.012a13.68,13.68,0,1,1,9.992,16.566,13.678,13.678,0,0,1-9.992-16.566" transform="translate(-2586.965 -1708.615)" fill="#edeeef" />
                                            <path id="Path_818" data-name="Path 818" d="M2618.34,1719.219h-10.6v2.095h11.271a13.678,13.678,0,0,0-.673-2.095m-2.706-4.191h-7.893v2.1h9.517a13.721,13.721,0,0,0-1.624-2.1m-19.829,18.858h19.764a13.614,13.614,0,0,0,1.648-2.095H2594.16a13.734,13.734,0,0,0,1.646,2.095m13.168-22.744c-.411-.1-.822-.182-1.232-.245v2.037h5.379a13.663,13.663,0,0,0-4.147-1.791m10.359,12.266h-11.591v2.1h11.584a13.6,13.6,0,0,0,.007-2.1m-26.27,6.288h25.249a13.769,13.769,0,0,0,.655-1.988c.009-.036.017-.072.025-.108h-26.614a13.72,13.72,0,0,0,.685,2.1m9.337,8.005a13.764,13.764,0,0,0,2.424.376h1.741a13.683,13.683,0,0,0,6.44-2.1h-14.643a13.667,13.667,0,0,0,4.038,1.721" transform="translate(-2592.003 -1710.738)" fill="#e71e1a" />
                                            <path id="Path_819" data-name="Path 819" d="M2601.677,1722.769l-.295-.216-.3.216.113-.347-.3-.215h.365l.114-.347.111.347h.366l-.295.215Zm-1.453-11.026.112.349-.295-.215-.3.215.113-.349-.3-.213h.364l.114-.349.113.349h.366Zm0,3.15.112.347-.295-.216-.3.216.113-.347-.3-.215h.364l.114-.347.113.347h.366Zm-.027,3.086.113.347-.3-.216-.3.216.113-.347-.3-.215h.366l.113-.347.113.347h.366Zm.086,3.4-.3-.215-.295.215.112-.347-.3-.215h.366l.113-.347.112.347h.366l-.3.215Zm-1.454-8.107.114.347-.3-.213-.3.213.113-.347-.3-.216h.365l.114-.347.112.347h.365Zm0,3.052.114.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.365Zm0,3.12.114.349-.3-.215-.3.215.113-.349-.3-.213h.365l.114-.349.112.349h.365Zm.114,3.328-.3-.216-.3.216.113-.347-.3-.215h.365l.114-.347.112.347h.365l-.3.215Zm-1.454-11.026.113.349-.3-.215-.3.215.114-.349-.3-.213h.365l.113-.349.113.349h.366Zm0,3.15.113.347-.3-.216-.3.216.114-.347-.3-.215h.365l.113-.347.113.347h.366Zm-.026,3.086.113.347-.3-.216-.295.216.113-.347-.3-.215h.365l.113-.347.113.347h.366Zm.085,3.4-.295-.215-.3.215.113-.347-.3-.215h.365l.114-.347.113.347h.365l-.3.215Zm-1.453-11.157.113.347-.3-.215-.3.215.113-.347-.295-.216h.366l.113-.347.113.347h.366Zm0,3.05.113.347-.3-.213-.3.213.113-.347-.295-.216h.366l.113-.347.113.347h.366Zm0,3.052.113.347-.3-.215-.3.215.113-.347-.295-.215h.366l.113-.347.113.347h.366Zm0,3.12.113.349-.3-.215-.3.215.113-.349-.295-.213h.366l.113-.349.113.349h.366Zm.113,3.328-.3-.216-.3.216.113-.347-.295-.215h.366l.113-.347.113.347h.366l-.3.215Zm-1.454-11.135.114.349-.3-.215-.3.215.114-.349-.3-.214h.365l.113-.347.113.347h.365Zm0,3.15.114.347-.3-.214-.3.214.114-.347-.3-.215h.365l.113-.347.113.347h.365Zm-.028,3.086.114.347-.3-.215-.3.215.114-.347-.3-.216h.365l.114-.347.112.347h.366Zm.086,3.4-.3-.215-.3.215.113-.349-.3-.214h.365l.114-.347.113.347h.366l-.3.214Zm-1.453-8,.114.347-.3-.213-.3.213.114-.347-.295-.216h.364l.114-.347.112.347h.365Zm0,3.052.114.347-.3-.215-.3.215.114-.347-.295-.215h.364l.114-.347.112.347h.365Zm0,3.12.114.349-.3-.215-.3.215.114-.349-.295-.213h.364l.114-.349.112.349h.365Zm.114,3.328-.3-.216-.3.216.114-.347-.295-.215h.364l.114-.347.112.347h.365l-.3.215Zm-1.454-8.016.113.347-.3-.215-.3.215.114-.347-.3-.215h.366l.112-.347.113.347h.366Zm-.027,3.086.113.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.366Zm.085,3.4-.3-.215-.3.215.112-.347-.3-.216h.366l.113-.347.113.347h.365l-.3.216Zm6.457-11.233.114-.347.112.347h.365l-.3.216.114.347-.3-.215-.3.215.113-.347-.3-.216Zm2.735,9.224.114-.349.111.349h.366l-.295.213.112.349-.295-.215-.3.215.113-.349-.3-.213Zm0-3.122.114-.347.111.347h.366l-.295.215.112.347-.295-.215-.3.215.113-.347-.3-.215Zm0-3.052.114-.347.111.347h.366l-.295.216.112.347-.295-.213-.3.213.113-.347-.3-.216Zm0-3.05.114-.347.111.347h.366l-.295.216.112.347-.295-.215-.3.215.113-.347-.3-.216Zm-10.645,6.318.113.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.366Zm0,3.12.113.349-.3-.215-.3.215.113-.349-.3-.213h.365l.114-.349.112.349h.366Zm.113,3.328-.3-.216-.295.216.113-.347-.3-.215h.365l.114-.347.113.347h.366l-.3.215Zm-1.482-4.984.113.347-.3-.215-.295.215.113-.347-.3-.215h.366l.112-.347.114.347h.365Zm.086,3.4-.3-.215-.3.215.114-.347-.3-.215h.365l.113-.347.112.347h.366l-.3.215Zm-1.34,1.586-.3-.216-.3.216.112-.347-.295-.215h.366l.113-.347.114.347h.364l-.294.215Zm14.714-13.841c-.134-.021-1.131-.13-1.266-.146l-2.459.09a13.716,13.716,0,0,0-6.909,2.925l.05.155-.128-.093a13.642,13.642,0,0,0-1.286,1.195h.2l-.3.216.113.347-.3-.213-.118.085q-.414.477-.785.994h.041l-.086.062q-.09.127-.177.256l.08.244-.163-.118a13.677,13.677,0,0,0-1.853,4.24l-.014.061h.227l.113-.349.114.349h.364l-.294.213.112.349-.3-.215-.3.215.112-.349-.176-.127a13.663,13.663,0,0,0-.325,4.241h15.694Z" transform="translate(-2586.976 -1708.771)" fill="#0b2e60" />
                                        </svg>*@
                                }
                                @*<svg id="Group_2981" data-name="Group 2981" xmlns="http://www.w3.org/2000/svg" width="27.368" height="27.367" viewBox="0 0 27.368 27.367">
                                        <path id="Path_817" data-name="Path 817" d="M2587.369,1719.012a13.68,13.68,0,1,1,9.992,16.566,13.678,13.678,0,0,1-9.992-16.566" transform="translate(-2586.965 -1708.615)" fill="#edeeef" />
                                        <path id="Path_818" data-name="Path 818" d="M2618.34,1719.219h-10.6v2.095h11.271a13.678,13.678,0,0,0-.673-2.095m-2.706-4.191h-7.893v2.1h9.517a13.721,13.721,0,0,0-1.624-2.1m-19.829,18.858h19.764a13.614,13.614,0,0,0,1.648-2.095H2594.16a13.734,13.734,0,0,0,1.646,2.095m13.168-22.744c-.411-.1-.822-.182-1.232-.245v2.037h5.379a13.663,13.663,0,0,0-4.147-1.791m10.359,12.266h-11.591v2.1h11.584a13.6,13.6,0,0,0,.007-2.1m-26.27,6.288h25.249a13.769,13.769,0,0,0,.655-1.988c.009-.036.017-.072.025-.108h-26.614a13.72,13.72,0,0,0,.685,2.1m9.337,8.005a13.764,13.764,0,0,0,2.424.376h1.741a13.683,13.683,0,0,0,6.44-2.1h-14.643a13.667,13.667,0,0,0,4.038,1.721" transform="translate(-2592.003 -1710.738)" fill="#e71e1a" />
                                        <path id="Path_819" data-name="Path 819" d="M2601.677,1722.769l-.295-.216-.3.216.113-.347-.3-.215h.365l.114-.347.111.347h.366l-.295.215Zm-1.453-11.026.112.349-.295-.215-.3.215.113-.349-.3-.213h.364l.114-.349.113.349h.366Zm0,3.15.112.347-.295-.216-.3.216.113-.347-.3-.215h.364l.114-.347.113.347h.366Zm-.027,3.086.113.347-.3-.216-.3.216.113-.347-.3-.215h.366l.113-.347.113.347h.366Zm.086,3.4-.3-.215-.295.215.112-.347-.3-.215h.366l.113-.347.112.347h.366l-.3.215Zm-1.454-8.107.114.347-.3-.213-.3.213.113-.347-.3-.216h.365l.114-.347.112.347h.365Zm0,3.052.114.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.365Zm0,3.12.114.349-.3-.215-.3.215.113-.349-.3-.213h.365l.114-.349.112.349h.365Zm.114,3.328-.3-.216-.3.216.113-.347-.3-.215h.365l.114-.347.112.347h.365l-.3.215Zm-1.454-11.026.113.349-.3-.215-.3.215.114-.349-.3-.213h.365l.113-.349.113.349h.366Zm0,3.15.113.347-.3-.216-.3.216.114-.347-.3-.215h.365l.113-.347.113.347h.366Zm-.026,3.086.113.347-.3-.216-.295.216.113-.347-.3-.215h.365l.113-.347.113.347h.366Zm.085,3.4-.295-.215-.3.215.113-.347-.3-.215h.365l.114-.347.113.347h.365l-.3.215Zm-1.453-11.157.113.347-.3-.215-.3.215.113-.347-.295-.216h.366l.113-.347.113.347h.366Zm0,3.05.113.347-.3-.213-.3.213.113-.347-.295-.216h.366l.113-.347.113.347h.366Zm0,3.052.113.347-.3-.215-.3.215.113-.347-.295-.215h.366l.113-.347.113.347h.366Zm0,3.12.113.349-.3-.215-.3.215.113-.349-.295-.213h.366l.113-.349.113.349h.366Zm.113,3.328-.3-.216-.3.216.113-.347-.295-.215h.366l.113-.347.113.347h.366l-.3.215Zm-1.454-11.135.114.349-.3-.215-.3.215.114-.349-.3-.214h.365l.113-.347.113.347h.365Zm0,3.15.114.347-.3-.214-.3.214.114-.347-.3-.215h.365l.113-.347.113.347h.365Zm-.028,3.086.114.347-.3-.215-.3.215.114-.347-.3-.216h.365l.114-.347.112.347h.366Zm.086,3.4-.3-.215-.3.215.113-.349-.3-.214h.365l.114-.347.113.347h.366l-.3.214Zm-1.453-8,.114.347-.3-.213-.3.213.114-.347-.295-.216h.364l.114-.347.112.347h.365Zm0,3.052.114.347-.3-.215-.3.215.114-.347-.295-.215h.364l.114-.347.112.347h.365Zm0,3.12.114.349-.3-.215-.3.215.114-.349-.295-.213h.364l.114-.349.112.349h.365Zm.114,3.328-.3-.216-.3.216.114-.347-.295-.215h.364l.114-.347.112.347h.365l-.3.215Zm-1.454-8.016.113.347-.3-.215-.3.215.114-.347-.3-.215h.366l.112-.347.113.347h.366Zm-.027,3.086.113.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.366Zm.085,3.4-.3-.215-.3.215.112-.347-.3-.216h.366l.113-.347.113.347h.365l-.3.216Zm6.457-11.233.114-.347.112.347h.365l-.3.216.114.347-.3-.215-.3.215.113-.347-.3-.216Zm2.735,9.224.114-.349.111.349h.366l-.295.213.112.349-.295-.215-.3.215.113-.349-.3-.213Zm0-3.122.114-.347.111.347h.366l-.295.215.112.347-.295-.215-.3.215.113-.347-.3-.215Zm0-3.052.114-.347.111.347h.366l-.295.216.112.347-.295-.213-.3.213.113-.347-.3-.216Zm0-3.05.114-.347.111.347h.366l-.295.216.112.347-.295-.215-.3.215.113-.347-.3-.216Zm-10.645,6.318.113.347-.3-.215-.3.215.113-.347-.3-.215h.365l.114-.347.112.347h.366Zm0,3.12.113.349-.3-.215-.3.215.113-.349-.3-.213h.365l.114-.349.112.349h.366Zm.113,3.328-.3-.216-.295.216.113-.347-.3-.215h.365l.114-.347.113.347h.366l-.3.215Zm-1.482-4.984.113.347-.3-.215-.295.215.113-.347-.3-.215h.366l.112-.347.114.347h.365Zm.086,3.4-.3-.215-.3.215.114-.347-.3-.215h.365l.113-.347.112.347h.366l-.3.215Zm-1.34,1.586-.3-.216-.3.216.112-.347-.295-.215h.366l.113-.347.114.347h.364l-.294.215Zm14.714-13.841c-.134-.021-1.131-.13-1.266-.146l-2.459.09a13.716,13.716,0,0,0-6.909,2.925l.05.155-.128-.093a13.642,13.642,0,0,0-1.286,1.195h.2l-.3.216.113.347-.3-.213-.118.085q-.414.477-.785.994h.041l-.086.062q-.09.127-.177.256l.08.244-.163-.118a13.677,13.677,0,0,0-1.853,4.24l-.014.061h.227l.113-.349.114.349h.364l-.294.213.112.349-.3-.215-.3.215.112-.349-.176-.127a13.663,13.663,0,0,0-.325,4.241h15.694Z" transform="translate(-2586.976 -1708.771)" fill="#0b2e60" />
                                    </svg>*@
                            </div>
                            <div class="col-md-10 col-10 svg-text">
                                <p>@Model.University.States.StateName</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- All Programs start -->
<div class="container-fluid programs-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 programs-text">
                <h1>All Programs</h1>
                <p>@Model.Courses.Count() Courses</p>
            </div>
        </div>

        <!-- 1  -->
        @*<div class="row mt-5">
                <div class="col-md-12 level-text">
                    <div class="row level-row">
                        <div class="col-lg-8 col-md-6 technology-text">
                            <h4>T-Level - Engineering Technologies - Manufacturing, Processing and Control Route</h4>
                        </div>
                        <div class="col-lg-2 col-md-3 application-fee">
                            <p><span class="application">APPLICATION FEE</span><br> Free</p>
                            <p><span class="application">TUITION FEE</span><br> £14,250.00 GBP</p>
                        </div>
                        <div class="col-lg-2 col-md-3 d-flex justify-content-end align-items-center apply-btn-col">
                            <button class="btn btn-apply">Apply</button>
                        </div>
                    </div>
                </div>
            </div>*@

        <!-- 2 -->
        @foreach (var item in Model.Courses)
        {
            <div class="row ">
                <div class="col-md-12 level-text">
                    <div class="row level-row">
                        <div class="col-lg-8 col-md-6 technology-text"  onclick="onProgramById(@item.CourseId)">
                            <h4>@item.CourseName</h4>
                        </div>
                        <div class="col-lg-2 col-md-3 application-fee"  onclick="onProgramById(@item.CourseId)">
                            @*<p><span class="application">APPLICATION FEE</span><br> Free</p>*@
                            <p><span class="application">TUITION FEE</span><br> £@item.CourseTutionFee GBP</p>
                        </div>
                        <div class="col-lg-2 col-md-3 d-flex justify-content-end align-items-center apply-btn-col">
                            <button class="btn btn-apply">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<!-- All Programs End -->
<!-- Load More circle start -->
@*<div class="container-fluid circle-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <a href="">
                    <div class="load-more-btn">
                        <span>LOAD <br> MORE</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>*@

@section Script{
    <!-- bootstrap 5 script -->
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
    function onProgramById(id) {
        var url = "/Home/Program/" + id;
        window.location.href = url;
        //console.log(url)
    }
</script>
}
