@model IEnumerable<Study_Abroad.Models.University>

@{ ViewData["Title"] = "Index";
    Layout = "_Layout1"; }


<!-- BEGIN: Content-->

@section Css{
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">

        <div class="content-body">
            <div class="row">

            </div>
            <!-- Zero configuration table -->
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body card-dashboard">
                                <div class="table-responsive">
                                    <table class="table zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>University Name</th>
                                                <th>Country Name </th>
                                                <th>State Name</th>
                                                <th>Type</th>
                                                <th>Status</th>
                                                <th>DateTime</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>@item.UniversityName</td>
                                                <td>@item.Countries.CountryName</td>
                                                <td>@item.States.StateName</td>
                                                <td>@item.SchoolType</td>
                                                <td>
                                                    @if (item.Status == true)
                                                    {
                                            @Html.Raw("Active") }
                                        else
                                        {
                                            @Html.Raw("Deactive")}
                                                </td>
                                                <td>@item.DateTime.ToString("dd/MM/yyyy")</td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.UniversityId">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.UniversityId">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.UniversityId">Delete</a>
                                                </td>
                                            </tr>
}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Zero configuration table -->

        </div>
    </div>
</div>

@section Js{
    <script src="~/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="~/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>

    <script src="~/app-assets/js/scripts/datatables/datatable.js"></script>
}
<!-- END: Content-->
@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.University_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.University_Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State_ID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.University_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.University_Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State_ID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.University_ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.University_ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.University_ID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
