@model Study_Abroad.Models.ProgramLevel

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout1";
}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">

        <div class="content-body">

            <!-- Zero configuration table -->
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body card-dashboard">

                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Date)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Date)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.status)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @if (Model.status == true)
                                        {
                                            @Html.Raw("Active") }
                                        else
                                        {
                                            @Html.Raw("Deactive")}
                                    </dd>
                                </dl>
                                <div>
                                    <a asp-action="Edit" asp-route-id="@Model.Program_Id">Edit</a> |
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ Zero configuration table -->
        </div>
    </div>
</div>
<!-- END: Content-->
@*<h1>Details</h1>

    <div>
        <h4>ProgramLevel</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.status)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.status)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Program_Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
